.box{
	min-height: 100px;
	background-color: red;
	margin-bottom: 5px;
}
.box_2{
	min-height: 100px;
	background-color: purple;
	margin-bottom: 5px;
}
.box_3{
	min-height: 100px;
	background-color: green;
	margin-bottom: 5px;
}
.box_4{
	min-height: 100px;
	background-color: yellowgreen;
	margin-bottom: 5px;
}
.mh{
	min-height: 250px;
	background-color: gray;
	margin-bottom: 5px;
}